<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>
  {% block title %}
  {% endblock title %}
</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all" />
<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
<!--[if IE 6]><link rel="stylesheet" href="{% static 'css/ie6.css' %}" type="text/css" media="all" /><![endif]-->

<script src="js/jquery-1.4.2.js" type="text/javascript"></script>
<script src="js/js-fnc.js" type="text/javascript"></script>


</head>




<body>
<!-- START PAGE SOURCE -->
<div id="header">
  <div class="shell">
    <div id="logo-holder">
      <h1 id="logo"><a href="#">WCSST 9</a></h1>
      <p id="quote">Free CSS Website Template</p>
    </div>
    <div id="navigation">
      <ul>
        <li><a href="#" class="active"><span>Главная</span></a></li>
        <li><a href="#"><span>Новости</span></a></li>
        <li><a href="#"><span>Статьи</span></a></li>
        </ul>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
</div>
<div id="featured-content">
  <div class="shell">
    <h2>Добро пожаловать! Новостной портал!</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    {% block content %}
    {% endblock content %}
  </div>
</div>
<div id="main">
  <div class="shell">
    <div class="col">
      <div class="post">
        <h3>Новост1</h3>
        <p>текст</p>
      </div>
    </div>
    <div class="col">
      <div class="post">
        <h3>Новость 2</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing</p>
      </div>
    </div>
    <div class="col col-last">
      <div class="post">
        <h3>Новость 3</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, <a href="#">Website CSS Templates</a> unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
    <div id="main-content">
      <div class="post">
        <h3>Some Title</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<a href="#">Website CSS Templates</a> in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div id="sidebar">
      <div class="post">
        <h3>Some Title</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown <a href="#">Website CSS Templates</a> and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typeset</p>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
  </div>
</div>
<div class="footer">
  <div class="shell">
    <p class="lf">Контактная информация&copy; 2010 <a href="#">www,Infpo.ruu</a> - все права защищены</p>
    <div style="clear:both;"></div>
  </div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>