{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Информационный ресурс SkillFakctory:
новости, статьи, аналитика
{% endblock title %}

{% block search %}
    {% if request.user.username %}
        <p>Пользователь: {{request.user.username}}&nbsp|&nbsp<a href="/home/sign/logout/">Выйти</a>
        <button> <a href="sign/upgrade/">Стать автором</a> </button>
        </p>
    {% else %}
        <p><button> <a href="/home/accounts/login"> Войти в систему </a></button> | <button> <a href="/home/accounts/signup"> Регистрация </a></button></p>
    {% endif %}

{% endblock search %}


{% block content %}

    <div class="col">
       <div class="post">
           <a href="/home" title="разделы новостей">Категории:</a> |
           {% for c in get_category %}
                <a href="?category={{c.id}}"
                {% if request.GET.category == c.id|title %}
                    class="bold"
                {% endif %}
                >{{ c.name }}</a> |
           {% endfor %}

           {% if request.user.username and request.GET.category %}
               <br><a href="/home/subscribes/{{request.GET.category}}"><b>Подписаться на новости раздела</b></a>
           {% endif%}

            <br><br>
           {% for i in news %}
               <h4>{{ i.date|date:'d E Y' }}</h4>
               <h3>{{ i.head_article| censor }}</h3>
               <p>
               <b>Категории:
               {% for v in i.category.all %}
                   {{ v.name }} |
                    {% endfor %}</b>
               <br><br>
                {{ i.text_post|truncatewords:20| censor}}
                <a href="{{ i.id }}">подробнее...</a> |
                <a href="news/{{ i.id }}/update">редактировать...</a> |
                <a href="news/{{ i.id }}/delete">удалить</a>
                </p><br><br>
           {% endfor %}

<!--           {# Добавляем пагинацию на страницу #}-->

            <p>
            {# Информация о предыдущих страницах #}
            {% if page_obj.has_previous %}
                <a href="?page=1" class="p">1</a>
                {% if page_obj.previous_page_number != 1 %}
                    ...
                    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
            {% endif %}
<!--             {# Информация о текущей странице #}-->
            {{ page_obj.number }}
<!--             {# Информация о следующих страницах #}-->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% if paginator.num_pages != page_obj.next_page_number %}
                    ...
                    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
            </p>
      </div>
    </div>


{% endblock content %}