{% extends 'flatpages/default.html' %}

{% block title %}
Информационный ресурс SkillFakctory:
{{ new.head_article }}
{% endblock title %}

{% block content %}

    <div class="col">
      <div class="post">
            <h3>{{ new.date }}</h3>
            <h2 >{{ new.head_article }}</h2>
        <p class="new">{{ new.text_post }}
            <br><br><i>Автор:
            <a class="tooltip" href="mailto:">{{ new.id_author.full_name }}
                <span><img src="/static/author/{{new.id_author.id }}.jpg" width="150" align="left" >
                </span></a></i>
                <br><br>
                <h3>Комментарии:</h3>
                {% for i in comments %}
                <p><b>{{ i.date }}</b> | <b>{{ i.id_users__username }}</b> | <b>рейтинг: {{ i.sum_rank }} :<br> {{ i.text }}</p>
                {% endfor %}

        </p>
      </div>
    </div>

{% endblock content %}