{% extends 'flatpages/default.html' %}
{% load custom_filters%}


{% block title %}
Информационный ресурс SkillFakctory:
Поиск новостей
{% endblock title %}

{% block search %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="date">
        <input type="submit" value="Найти">
    </form>
{% endblock search %}

{% block content %}

{% for i in news %}
    <div class="col">
       <div class="post">
           <h3>{{ i.head_article| censor}}</h3>
            <h4>{{ i.date|date:'d E Y' }}</h4>
            <p>{{ i.text_post|truncatewords:20| censor }}
            <a href="{{ i.id }}">подробнее...</a></p>

      </div>
    </div>
{% endfor %}

{% endblock content %}